*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  font-size: 62.5%;
}
body {
  background-color: $color_body;
}
.body_wrapper {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  @include wrapper-width;
  background-color: $color_wrapper;
}
